html,
body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}
.topbar {
    position: fixed;
        top: 0;
        left: 0;
    width: 100%;
    height: 50px;
    z-index: 99999;
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
    color: white;
    white-space: nowrap;
    /* Red Theme Background */
    background-color:skyblue; 
    box-shadow: 0 3px 10px skyblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.topbar a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}
#nav-menu-content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: auto;
}
.subtopbar {
    font-size: 1.0em;
    padding: 0 15px;
    transition: all 0.3s;
    height: 100%;
    color:black;
}

.subtopbar:hover {
    background-color:skyblue;
    box-shadow: inset 0 -2px 0 0 skyblue;
    color: black;
}
.subtopbar_drops {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.subtopbar_drop_c {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 180px;
    background-color: skyblue; /* Deep Red Menu */
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.4);
    z-index: 100;
    padding: 5px 0;
    text-align: left;
    flex-direction: column;
    white-space: nowrap;
}

.subtopbar_drops:hover>.subtopbar_drop_c {
    display: flex;
}
.subtopbar_ta {
    padding: 8px 15px;
    line-height: normal;
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
}
.subtopbar_ta:hover {
    background-color:skyblue;
    color: #ffffff;
    box-shadow: none;
}

/*.topbar_icon {
    height: 30px;
    margin-right: 8px;
    filter: drop-shadow(0 0 3px #ff0000);
}

.topbar_title {
    font-size: 0.7cm;
    font-weight: 700;
    color: #ff3333; /* Bright Red Title */
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}*/
